:host {
  display: block;
  position: relative;
  width: 19.7rem;
  height: 16.5rem;

  .turn {
    &__icon {
      width: 100%;
      height: 100%;
      transition: color 0.35s;
    }

    &__content {
      position: absolute;
      top: 4.3rem;
      width: 100%;
      padding-left: 0.2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2px;

      .heading {
        color: var(--turn-color);
        transition: color 0.35s;
      }

      .heading--xl {
        text-transform: unset;
      }
    }
  }
}
