@use '@angular/material' as mat;

html {
  .mdc-dialog__surface {
    border: 3px solid var(--neutral-900);
  }

  @include mat.dialog-overrides((
    container-color: var(--primary-600),
    container-shape: 4rem,
    container-max-width: 48rem,
    container-small-max-width: calc(100% - 4rem),
    container-min-width: min(48rem, calc(100vw - 4rem)),
  ));

  .cdk-overlay-backdrop {
    background: rgba(0,0,0, .5);
  }
}
