@use '@angular/material' as mat;
@use 'layout';

html {
  .mdc-dialog__surface {
    border: 3px solid var(--neutral-900);
  }

  @include mat.dialog-overrides((
    container-color: var(--primary-600),
    container-shape: 4rem,
    container-max-width: layout.$card-width,
    container-small-max-width: calc(100% - 3.4rem),
    container-min-width: min(layout.$card-width, calc(100vw - 3.4rem)),
  ));

  .cdk-overlay-backdrop {
    background: rgb(0 0 0 / 50%);
  }
}
