:host {
  display: block;

  .outcome {
    width: 29.1rem;

    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.7rem 0;

      .heading--sm {
        line-height: 1;
      }
    }
  }
}
