:host {
  display: block;
  width: 28.5rem;

  .outcome {
    &__content {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 1.7rem 0;

      .heading--xl {
        margin-top: -0.4rem;
      }

      button {
        min-width: 13rem;
      }
    }
  }
}
