<h1 class="cdk-visually-hidden" tabindex="-1">Connect Four game</h1>

<app-game-toolbar
  class="game__toolbar"
  (menuClicked)="openGameMenu()"
  (restartClicked)="gameStore.restartGame()"
/>

<div class="game__content">
  @for (code of playerCodes; track code) {
    <app-score-card
      class="game__score game__score--{{ code }}"
      [side]="$first ? 'start' : 'end'"
      [player]="gameStore.players()[code]"
      [score]="gameStore.scores()[code]"
    />
  }

  <div class="game__board">
    <app-game-board
      [board]="gameStore.board()"
      [cells]="gameStore.cells()"
      [players]="gameStore.players()"
      [currentPlayer]="gameStore.currentPlayer()"
      [canPlay]="gameStore.canPlay()"
      [playableColumns]="gameStore.playableColumns()"
      [winningCells]="gameStore.winningCells()"
      (discDropped)="gameStore.dropDisc($event)"
    />

    @if (gameStore.isRoundOver()) {
      <app-outcome-card
        animate.enter="game__outcome-enter"
        animate.leave="game__card-leave"
        [winner]="gameStore.winner()"
        (playAgainClicked)="gameStore.startRound()"
      />
    } @else {
      <app-turn-indicator
        animate.enter="game__turn-enter"
        animate.leave="game__card-leave"
        [currentPlayer]="gameStore.currentPlayer()"
        [time]="gameStore.secondsLeft()"
      />
    }

    <div class="game__banner" aria-hidden="true">
      @for (layer of bannerLayers(); track layer.key) {
        <div
          class="game__banner-layer"
          animate.enter="game__banner-enter"
          animate.leave="game__banner-leave"
          [style.background-color]="layer.color"
        ></div>
      }
    </div>
  </div>
</div>
