@use 'layout';
@use 'media' as *;

:host {
  @include layout.centered-page;

  .menu {
    @include layout.page-card;
    flex: 1;
    background: transparent;
    border: 3px solid transparent;
    box-shadow: none;

    &__content {
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 7.9rem;
    }
  }

  @include up(md) {
    background: var(--primary-800);

    .menu {
      background: var(--primary-600);
      border-color: var(--neutral-900);
      box-shadow: 0 1rem 0 0 var(--neutral-900);

      &__content {
        padding: 7rem 4rem 6rem;
      }
    }
  }
}
