@use 'media' as *;

:host {
  padding: 3rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;

  .heading--xl {
    color: var(--neutral-0);
  }

  @include up(md) {
    padding: 5rem 4rem 4.5rem;
    gap: 4.4rem;
  }

  @include short {
    padding-block: 2rem;
    gap: 2rem;

    .heading--xl {
      font-size: 4rem;
      line-height: 5rem;
    }
  }
}
