:host {
  --logo-size: 5.2rem;
  display: inline-block;
  view-transition-name: logo;
  width: var(--logo-size);
  height: var(--logo-size);

  svg {
    display: block;
    width: calc(var(--logo-size) * 58 / 52);
    height: calc(var(--logo-size) * 61 / 52);
    margin: calc(var(--logo-size) * -3 / 52);
  }
}
